<?xml version="1.0"?>
<launch>

	<!-- send cob urdf to param server -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find neo_description_mpo_700)/urdf/robot.urdf.xacro'" />
	<!-- start robot_state_publisher -->
	<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"/>

	<!-- push robot_description to factory and spawn robot in gazebo -->
	<node name="spawn_gazebo_model" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.1 " respawn="false" output="screen" />

	<!-- cob Base Control -->
	<rosparam file="$(find neo_description_mpo_700)/controller/pr2_base_controller.yaml" command="load" />

	<!-- cob Odometry -->
	<rosparam file="$(find neo_description_mpo_700)/controller/pr2_odometry.yaml" command="load" />

	<!-- scan filter -->
	<node pkg="cob_sick_s300" type="cob_scan_filter" name="scanner_front_filter" respawn="false" output="screen" >
		<rosparam command="load" file="$(find neo_base_mpo_700)/ros/launch/sick/$(env ROBOT)/conf.yaml"/>
		<remap from="scan" to="/sick_s300/scan_unfiltered"/>
		<remap from="scan_filtered" to="/sick_s300/scan"/>
	</node>


	<!-- Controllers that come up started -->
	<node name="base_controllers_spawner" pkg="pr2_controller_manager" type="spawner" output="screen" respawn="false" args="base_controller base_odometry">
    		<remap from="/base_controller/command" to="/cmd_vel" /> <!--why is this not working?-->
	</node>


</launch>
