<?xml version="1.0"?>

<robot
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

    <!-- Included URDF Files -->
    <include filename="$(find neo_description_mpo_500)/ros/robot/materials.urdf.xacro" />
    <include filename="$(find neo_description_mpo_500)/ros/robot/omni_wheel.xacro" />
    <include filename="$(find neo_description_mpo_500)/ros/sensors/sick_s300_laser.urdf.xacro" />

    <property name="base_link_to_top" value="0.0795" />
    <property name="base_link_to_front" value="0.2025" />
    <property name="base_link_to_back" value="0.1975" />



    <macro name="mp_s500">

        <link name="base_link">
            <inertial>
                <mass value="20" />
                <origin xyz="0 0 0" />
                <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                         iyy="1.0" iyz="0.0" 
                         izz="1.0" />
            </inertial>

            <visual>
                <origin xyz="0. 0. 0.2" rpy="0 0 0" />


                <geometry>
                    <box size="0.68 0.41 0.25"/>
                </geometry>
              <material name="Grey" />
            </visual>
            
            <collision>
                <origin xyz="0. 0. 0.2" rpy="0 0 0" />
                <geometry>
                    <box size="0.68 0.41 0.25"/>
                </geometry>
            </collision>
        </link>


        <!-- MACRO INSTANTIATION -->
        
        <omni_wheel_250 suffix="wheel_front_left" parent="base">
            <origin xyz="0.25 0.28 0.13" rpy="0 0 0" />
        </omni_wheel_250>
        
        <omni_wheel_250 suffix="wheel_front_right" parent="base">
            <origin xyz="0.25 -0.28 0.13" rpy="0 0 0" />
        </omni_wheel_250>

        <omni_wheel_250 suffix="wheel_back_left" parent="base">
            <origin xyz="-0.25 0.28 0.13" rpy="0 0 0" />
        </omni_wheel_250>
        
        <omni_wheel_250 suffix="wheel_back_right" parent="base">
            <origin xyz="-0.25 -0.28 0.13" rpy="0 0 0" />
        </omni_wheel_250>

       <sick_s300_laser_v0 name="laserfront" parent="base" ros_topic="sick_s300/scan" update_rate="5" min_angle="-2.3562" max_angle="2.3562" >
         <origin xyz="0.39 0 0" rpy="0 0 0" />
       </sick_s300_laser_v0>
       <sick_s300_laser_v0 name="laserback" parent="base" ros_topic="sick_s300/scan" update_rate="5" min_angle="-2.3562" max_angle="2.3562" >
         <origin xyz="-0.39 0 0" rpy="0 0 3.14" />
       </sick_s300_laser_v0>

        <gazebo>
            <controller:mecanum_drive_plugin name="mecanum_drive_controller" plugin="libmecanum_plugin.so">
                <alwaysOn>true</alwaysOn>
                <update>100</update>
                <updateRate>100.0</updateRate>
                <frontLeftJoint>wheel_front_left_joint</frontLeftJoint>
                <frontRightJoint>wheel_front_right_joint</frontRightJoint>
                <backLeftJoint>wheel_back_left_joint</backLeftJoint>
                <backRightJoint>wheel_back_right_joint</backRightJoint>
                <robotWidth>0.27</robotWidth>
                <robotLength>0.25</robotLength>
                <wheelDiameter>0.26</wheelDiameter>
                <torque>5</torque>
                <interface:position name="position_iface_0"/>
                <topicName>cmd_vel</topicName>
            </controller:mecanum_drive_plugin>

            <controller:gazebo_ros_p3d name="p3d_base_controller" plugin="libgazebo_ros_p3d.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>100.0</updateRate>
                <bodyName>base_link</bodyName>
                <topicName>base_pose_ground_truth</topicName>
                <gaussianNoise>0.01</gaussianNoise>
                <frameName>map</frameName>
                <xyzOffsets>0 0 0</xyzOffsets> 
                <rpyOffsets>0 0 0</rpyOffsets>
                <interface:position name="p3d_base_position"/>
            </controller:gazebo_ros_p3d>

            <controller:gazebo_ros_controller_manager name="gazebo_ros_controller_manager" plugin="libgazebo_ros_controller_manager.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>100.0</updateRate>
                <interface:audio name="gazebo_ros_controller_manager_dummy_iface" />
            </controller:gazebo_ros_controller_manager>
        </gazebo>
    </macro>
</robot>
